<table>
    <th colspan="2">
        <h3>Assignment 2</h3>
    </th>
    <tr>
        <td>
                <label>UserName</label>
        </td>
        <td>
                <input type="text" class = "assignment-2"
                [(ngModel)]="userName" (keypress)="enablebtn()">

        </td>
    </tr>
    <tr>
        <td colspan="2">
                <p> {{userName}} </p>
        </td>
    </tr>
    <tr >
            <button class="btn btn-primary" [disabled]="buttonvalue" (click)="reset()">Reset User</button>
    </tr>
</table>

